html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  padding: 5px 15px;
}

* {
  box-sizing: border-box;
}

.navbar__col {
  margin-bottom: 20px;
}
.navbar__col:last-of-type {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
}
.search:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  transition: box-shadow 0.15s ease-in-out;
}

.categories {
  display: flex;
  column-gap: 10px;
}
.category {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
}
.category:hover {
  background-color: #d3d4d5;
  border-color: #c6c7c8;
}
.category:active {
  background-color: #c6c7c8;
  background-color: #babbbc;
}
.category_active {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
}
.category_active:hover {
  background-color: #424649;
  border-color: #373b3e;
}
.category_active:active {
  background-color: #4d5154;
  border-color: #373b3e;
}
.vert-divider {
  width: 1px;
  align-self: stretch;
  background-color: #d3d4d5;
}

.allergens {
  position: relative;
}
.allergens:hover > .allergens__body {
  display: block;
}
.allergens:hover > .allergens__head {
  border-radius: 0.375rem 0.375rem 0 0;
}
.allergens:hover .allergens__img {
  background-image: url("../images/caret-up-fill.svg");
}
.allergens__head {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.allergens__img {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("../images/caret-down-fill.svg");
}

.allergens__head > span:first-of-type {
  margin-right: 10px;
}
.allergens__body {
  display: none;
  width: 100%;
  position: absolute;
  padding: 0.375rem 0.75rem;
  border-radius: 0 0 0.375rem 0.375rem;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
}
.allergens__list {
  list-style-type: none;
  padding-left: 0;
}
.allergens__list > li:not(:last-child) {
  margin-bottom: 16px;
}
.allergens__list > li > label {
  display: block;
  cursor: pointer;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  border: 1px solid #0000002d;
  border-radius: 0.375rem;
  overflow: hidden;
}
.card__img-wrapper {
  height: 200px;
}
.card__img {
  width: 100%;
  height: 100%;
}
.card__body {
  padding: 1rem;
}
.card__title {
  font-size: 20px;
}

.scrollToTop {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 50%;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, opacity 0.15s ease-in-out;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.8;
  animation-name: appearance;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
}
.scrollToTop:hover {
  opacity: 1;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.scrollToTop:active {
  background-color: #0a58ca;
  border-color: #0a53be;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@media (max-width: 1200px) {
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .navbar__col:last-of-type {
    display: block;
  }
  .vert-divider {
    display: none;
  }
  .allergens {
    margin-top: 10px;
  }
  .allergens__head {
    justify-content: space-between;
  }
}
